<meta property="og:type"               content="article" />
<meta property="og:title"              content="WSO2 Open Banking - {{ page.title }}" />
<meta property="og:description"        content="{{ page.sm-decription }}" />
<meta property="og:image"              content="" />
<!--TWITTER-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wso2">
<meta name="twitter:creator" content="@wso2">
<meta name="twitter:title" content="WSO2 Open Banking - {{ page.title }}">
<meta name="twitter:description" content="{{ page.sm-decription }}">
<meta name="twitter:image" content=""> 
<meta name="twitter:text:description" content="{{ page.sm-decription }}"> 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:width" content="610">
<!--LINKED IN  -->
<meta property='og:title' content="WSO2 Open Banking - {{ page.title }}"/>
<meta property='og:image' content=""/>
<meta property='og:description' content="{{ page.sm-decription }}"/>
 